// Variables
$body-bg: #f6f7fa;
$body-color: #111;
$theme-colors: (
  "primary": #535997,
  "success": #1cc88a,
  "info": #36b9cc,
  "warning": #f6c23e,
  "danger": #e74a3b,
  "secondary": #858796,
  "light": #f8f9fc,
  "dark": #5a5c69,
);

$palette-colors: (
  "light-pink": #FFADAD,
  "deep-champagne": #FFD6A5,
  "cadet-blue": #51A3A3,
  "tea-green": #CAFFBF,
  "liberty": #53599A,
  "baby-blue-eyes": #A0C4FF,
  "maximum-blue-purple": #BDB2FF,
  "mauve": #FFC6FF,
  "baby-powder": #FFFFFC,
  "celeste": #9BF6FF,
);

$sidebar-bg-color: #1d1d1d;
$submenu-bg-color: rgba(255, 255, 255, 0.05);
$submenu-bg-color-collapsed: rgba(29, 29, 29, 0.95);
$sidebar-color: #adadad;
$highlight-color: #d8d8d8;
$icon-bg-color: rgba(255, 255, 255, 0.05);
$icon-size: 35px;

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import "~bootstrap/scss/bootstrap";
@import "~react-datepicker/dist/react-datepicker.css";

body {
  margin: 0;
  height: 100vh;
  color: #353535;
  font-family: "Nunito",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.app {

  .navbar-brand {
    .hiscox-icon {
      height: 30px;
    }

    .brand-text {
      font-size: 0.9rem;
      font-weight: 500;
      position: relative;
      top: 10px;
      margin-left: 5px;
      opacity: 0.75;
    }

    .app-icon {
      height: 35px;
      position: relative;
      left: -12px;
    }

  }

  .section-dashboard {
    padding-top: 61px;
  }

  .sticky-offset {
      top: 61px;
  }

  @media (max-height: 700px) {
    .sticky-height-control {
      position: inherit;
    }

  }

  &>main > .row {
    margin-left: 0;
    margin-right: 0;
  }

  #sidebar-container {
      min-height: 100vh;   
      background-color: map-get($map: $palette-colors, $key: 'baby-powder');
      padding: 0;
      color: #000;
      transition: width 0.25s;

      /* Sidebar sizes when expanded and collapsed */
      &.sidebar-expanded {
          width: 230px;
      }
      &.sidebar-collapsed {
          width: 15px;
          .list-group {
            display: none;
          }

          &::after{
            margin-left: 4px;
            font: normal normal normal 14px/1 FontAwesome;
            content: "\f105";
            position: sticky;
            top: 50%;
            font-size: 1rem;
          }
      }

      .sidebar-fixed-button {
        span {
          color: map-get($map: $palette-colors, $key: 'liberty');
          cursor: pointer;
        }
      }

        /* Menu item*/
      .list-group a {
          height: 50px;
          color: white;
      }

      /* Submenu item*/
      .list-group .sidebar-submenu a {
          height: 45px;
          padding-left: 30px;
      }

      .sidebar-submenu {
          font-size: 0.9rem;
      }

      /* Separators */
      .sidebar-separator-title {
          background-color: #535997;
          color: #fff;
          height: 35px;

          &.menu-collapsable {
            &::after{
              content: " \f0d8";
              font-family: FontAwesome;
              display: inline;
              text-align: right;
              position: absolute;
              right:10px;
            }
  
            &.menu-collapsed {
              &::after{
                content: "\f0d7";
              }
  
              +.list-group-item-content {
                display: none;
              }
            }
          }

          
      }
      .sidebar-separator {
          background-color: #333;
          height: 25px;
      }

      /* Closed submenu icon */
      #sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
        content: " \f0d7";
        font-family: FontAwesome;
        display: inline;
        text-align: right;
        padding-left: 10px;
      }
      /* Opened submenu icon */
      #sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
        content: " \f0da";
        font-family: FontAwesome;
        display: inline;
        text-align: right;
        padding-left: 10px;
      }

      .list-group-item:last-child {
        border-bottom-right-radius: initial;
        border-bottom-left-radius: initial;
      }

      .div-group-item {
          background-color: hsl(0,0%,100%);
          border-radius: 4px;
          box-shadow: 0 0 0 1px hsla(0,0%,0%,0.1), 0 4px 11px hsla(0,0%,0%,0.1);
          margin-bottom: 8px;
          margin-top: 8px;
          margin-left: 3px;
          margin-right: 3px;
          box-sizing: border-box;
          padding: 8px;
      }

      label {
        font-size: 0.75rem;
        width: 100%;
      }

      .form-check {
        &:hover {
          background-color: #B2D4FF;
        }
      }
  }
}

.react-datepicker-popper {
  z-index: 2 !important;
}

.react-datepicker-wrapper {
  width: 100%;

  input.form-control {
    text-align: center;
    cursor: pointer;
  }
}

#tooltip-bubble {
  background-color: #f8f2b2e0;
  color: #000;
  p {
    margin-bottom: initial;
    font-size: 0.75rem;
  }

  li {
    font-size: 0.75rem;
  }

  .tooltip-products {
    ul {
      display: none;
    }
    &:hover {
      ul {
        display: inherit;
      }
    }
  }
}

/* SidebarFilters */

#sidebar-container {
  .react-select-container-filters {

      padding-left: 3px;
      padding-right: 3px;
      color: #000;
      
      .react-select-filters {
          
          &__control {
           margin: 8px 0px 0px 3px;
          }

          &__menu {
           background-color: transparent;  
           padding-top: 0px;
           position: inherit;

           &-list {
              overflow-x: hidden;
              max-height: 700px;
           }
          }

          &__group {
              background-color: #e9eff9;
              margin-left: 2px;
              margin-right: 2px;
              margin-bottom: 5px;
              border-radius: 5px;
              padding: 0px;


              &-wrapper {
                  &--is-searching {
                     div.react-select-filters__group {
                         div:nth-child(2) {
                             display: block !important;
                         }
 
                         div.react-select-filters__group-heading {
                             &::after{
                                 content: "\f0d8";
                             }
                         }
                     }
 
                  }
              }





              >div:nth-child(2) {
                  padding-bottom: 8px;
                  display: none;
              }
              
              &-heading {

                  color: #53599A;
                  padding-top: 8px;
                  padding-bottom: 8px;

                  &::after {
                      font: normal normal normal 14px/1 FontAwesome;
                      float: right;
                      content: "\f0d7";
                  }
              }

              &.group-expanded {
                  div.react-select-filters__group-heading {
                      &::after {
                          content: "\f0d8";
                      }
                  }
                  div:nth-child(2) {
                      display: block;
                  }
              }                
              
          }

          &__option-wrapper {
              &--disabled {
                  color: #ccc;
                  &:hover{
                      background-color: #eeeeee;
                      color: #aaa
                  }
              }
          }

          &__option {

              padding: 3px 10px;
              white-space: nowrap;

              &--is-selected {
                  background-color: transparent;
                  color: #000;
              }

              &--is-focused {
                background-color: #ecc581;
                opacity: 1;
              }

              input {
                  margin-right: 5px;
                  vertical-align: middle;
              }

              label {
                  font-size: 0.75rem;
              }
          }


      }
  }
}

.bg-highlight {
  background-color: #FFD6A5 !important;
}