// Variables
$body-bg: #f6f7fa;
$body-color: #111;
$theme-colors: (
  "primary": #535997,
  "success": #1cc88a,
  "info": #36b9cc,
  "warning": #f6c23e,
  "danger": #e74a3b,
  "secondary": #858796,
  "light": #f8f9fc,
  "dark": #5a5c69,
);

$palette-colors: (
  "light-pink": #FFADAD,
  "deep-champagne": #FFD6A5,
  "cadet-blue": #51A3A3,
  "tea-green": #CAFFBF,
  "liberty": #53599A,
  "baby-blue-eyes": #A0C4FF,
  "maximum-blue-purple": #BDB2FF,
  "mauve": #FFC6FF,
  "baby-powder": #FFFFFC,
  "celeste": #9BF6FF,
);

$sidebar-bg-color: #1d1d1d;
$submenu-bg-color: rgba(255, 255, 255, 0.05);
$submenu-bg-color-collapsed: rgba(29, 29, 29, 0.95);
$sidebar-color: #adadad;
$highlight-color: #d8d8d8;
$icon-bg-color: rgba(255, 255, 255, 0.05);
$icon-size: 35px;

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  height: 100vh;
  color: #353535;
  font-family: "Nunito",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  padding-top: 56px;
}

.app {

  .sticky-offset {
      top: 56px;
  }

  @media (max-height: 700px) {
    .sticky-height-control {
      position: inherit;
    }

  }

  &>main > .row {
    margin-left: 0;
    margin-right: 0;
  }

  #sidebar-container {
      min-height: 100vh;   
      background-color: map-get($map: $palette-colors, $key: 'baby-powder');
      padding: 0;
      color: #000;
      transition: width 0.25s;

      /* Sidebar sizes when expanded and collapsed */
      &.sidebar-expanded {
          width: 230px;
      }
      &.sidebar-collapsed {
          width: 15px;
          .list-group {
            display: none;
          }

          &::after{
            margin-left: 4px;
            font: normal normal normal 14px/1 FontAwesome;
            content: "\f105";
            position: sticky;
            top: 50%;
            font-size: 1rem;
          }
      }

      .sidebar-fixed-button {
        span {
          color: map-get($map: $palette-colors, $key: 'liberty');
          cursor: pointer;
        }
      }

        /* Menu item*/
      .list-group a {
          height: 50px;
          color: white;
      }

      /* Submenu item*/
      .list-group .sidebar-submenu a {
          height: 45px;
          padding-left: 30px;
      }

      .sidebar-submenu {
          font-size: 0.9rem;
      }

      /* Separators */
      .sidebar-separator-title {
          background-color: #535997;
          color: #fff;
          height: 35px;
      }
      .sidebar-separator {
          background-color: #333;
          height: 25px;
      }

      /* Closed submenu icon */
      #sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
        content: " \f0d7";
        font-family: FontAwesome;
        display: inline;
        text-align: right;
        padding-left: 10px;
      }
      /* Opened submenu icon */
      #sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
        content: " \f0da";
        font-family: FontAwesome;
        display: inline;
        text-align: right;
        padding-left: 10px;
      }
  }
}

#tooltip-bubble {
  background-color: #f8f2b2e0;
  color: #000;
  p {
    margin-bottom: initial;
    font-size: 0.75rem;
  }

  li {
    font-size: 0.75rem;
  }

  .tooltip-products {
    ul {
      display: none;
    }
    &:hover {
      ul {
        display: inherit;
      }
    }
  }
}